[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clinsig"]
	path = clinsig
	url = https://github.com/cran/clinsig
[submodule "crank"]
	path = crank
	url = https://github.com/cran/crank
[submodule "eventInterval"]
	path = eventInterval
	url = https://github.com/cran/eventInterval
[submodule "prettyR"]
	path = prettyR
	url = https://github.com/cran/prettyR
